@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import './scss/vars';
@import './scss/layout';
@import './scss/header';
@import './scss/item-list';
@import './scss/base';

body {
  font-family: 'Ubuntu', sans-serif;
}

.app input {
  border: none;
  border-radius: 4px;
  font-size: 18px;
  margin: 0;
  outline: 0;
  padding: 10px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  background-color: #e1e1e1;
  color: #666666;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
  margin: 10px 10px 10px 0;
  width: 100px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.card {
  background-color: #f7f7f7;
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  width: 304px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  width: 315;
  padding: 40px;
  overflow: hidden;
  position: relative;
  text-align: center;
}

.login {
  max-width: 1010px;
  margin: 0 auto;
  padding: 40px;
}

.login h1 {
  text-align: center;
}

.login img {
  margin: 0 auto;
}

.login a {
  text-decoration: none;
}

.login a:hover {
  text-decoration: underline;
}

.login form p {
  margin: 10px;
}

.login .other-options {
  margin-top: 20px;
}

.login input[type="email"], .login input[type="password"], .login input[type="text"] {
  -webkit-appearance: none;
  appearance: none;
  display: inline-block;
  height: 36px;
  padding: 0 8px;
  margin: 0;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  border-radius: 1px;
  font-size: 15px;
  color: #404040;
  width: 100%;
  margin-bottom: 5px;
}

.form-step-enter .card-inner {
  transform: translateX(-100%);
}

.form-step-leave .card-inner {
  transform: translateX(150%);
}

.form-step-enter {
  transform: translateX(-150%);
}

.form-step-enter.form-step-enter-active {
  transform: translateX(0);
  transition: transform .3s ease-in-out;
}

.form-step-leave {
  transform: translateX(0);
}

.form-step-leave.form-step-leave-active {
  transform: translateX(150%);
  transition: transform .3s ease-in-out;
  position: absolute;
  top: 40px;
}

.message .error {
  color: #D8000C;
  background-color: #FFBABA;
  margin-bottom: 20px;
  border: solid 1px #D8000C;
  padding: 10px;
}

.message .success {
  color: #4F8A10;
  background-color: #DFF2BF;
  margin-bottom: 20px;
  border: solid 1px #DFF2BF;
  padding: 10px;
}
