$w-content: 1100px;
$w-gutter: 20px;
$pad-1: 10px;
$pad-2: 20px;
$background: #222;
$white: #fff;
$yellow: #F6BA26;
$gray-border: #e1e1e1;
$gray-background: rgba(242, 242, 242, 0.5);
$overlay-background: rgba(0,0,0,0.4);
